<%= bootstrap_form_for @review do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prevented this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review Details</a></li>
      <li role="presentation"><a href="#csus" aria-controls="csus" role="tab" data-toggle="tab">Clinical Usability</a></li>
      <li role="presentation"><a href="#sus" aria-controls="sus" role="tab" data-toggle="tab">Systems Usability</a></li>
      <li role="presentation"><a href="#freetext" aria-controls="freetext" role="tab" data-toggle="tab">Free Text Review</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="review">
        <div class="panel panel-default">

          <div class="panel-heading">
            <p class="lead">
              Your current Trust is set to <br/> </br>
              <strong><%= Trust.find(@trust_id).trust_legal_name %></strong>
            </p>
          </div>

          <div class="panel-body">

            <div class="dropdown">
              <%= f.collection_select :system_id, System.where(system_name: "SystmOne Child Health (TPP)"), :id, :system_name, label: "Which system would you like to review? Your Trust's EPR is:" %>
            </div>

            <div>
              <p>Star Ratings are a simple and quick way to rate a system</p>
            </div>
            <% unless @review.star_rating.nil? || @review.star_rating == 0 %>
              <div class="form-group">
                <div id="star-rating" class="star-rating" data-score="<%= @review.star_rating %>" ></div>
              </div>
            <% else %>
              <div class="form-group">
                <div id='star-rating'></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="csus">
        <%= render partial: 'csus_form', locals: { f: f } %>
      </div>

      <div role="tabpanel" class="tab-pane" id="sus">
        <%= render partial: 'sus_form', locals: { f: f } %>
      </div>

      <div role="tabpanel" class="tab-pane" id="freetext">
        <%= render partial: 'free_text_form', locals: { f: f } %>
      </div>

    </div>

  </div>

<% end %>
<% unless @review.star_rating.nil? || @review.star_rating == 0 %>
  <script>
    $('.star-rating').raty({
      path: '/assets',
      readOnly: false,
      score: function() {
            return $(this).attr('data-score');
    }
  });
  </script>
<% else %>
  <script>
    $('#star-rating').raty({
      path: '/assets',
      scoreName: 'review[star_rating]'
    });
  </script>
<% end %>
